.card > img {
	max-height: 240px;
	object-fit: cover;
}

.news-card {
	margin: -30px auto 0;
	width: 70%;
	background: #fff;
	padding: 10px;
}
.news-card .news-title,
.news-country {
	display: inline;
	font-size: 13px;
	color: #6eb48c;
	position: relative;
}
.news-card .news-title::after {
	content: "";
	display: inline-block;
	border: 1px solid;
	font-size: 13px;
	margin-left: 10px;
	position: absolute;
	top: 50%;
	width: 4px;
	height: 4px;
	transform: rotate(45deg);
}
.card-body {
	padding-bottom: 0;
}
.card-body .category {
	background: #ebebeb;
	color: gray;
	font-size: 17px;
	box-shadow: -2px -0.5px 3px #000000d3;
	display: inline-block;
}
.card-body .title {
	font-family: "Roboto", sans-serif;
	letter-spacing: 1px;
	margin: 10px 0;
	font-weight: 800;
}
.card-body .author {
	font-size: 17px;
	font-weight: 600;
	color: #555555;
}
.card-body .description {
	color: #555555;
	font-family: "Poppins", sans-serif;
	font-size: 17px;
	text-align: justify;
}
.card-body .Link {
	text-decoration: none;
	color: #6eb48c;
	padding: 7px 15px;
	transition: 0.3s ease;
}
.card-body .Link:hover {
	color: #326e4c;
}
.card .social {
	border: none !important;
	padding: 0;
	text-align: center;
	position: relative;
	clear: none;
}
.card .social::before {
	content: "";
	position: absolute;
	width: 100%;
	left: 0;
	height: 1px;
	background: #dedede;
	display: block;
	bottom: 10px;
	z-index: 1;
}
.social .social-links {
	position: relative;
	z-index: 5;
	background: #ffffff;
	display: inline-block;
}
.social .social-links .link {
	background: #fff;
	color: #000;
	font-size: 15px;
	margin: 0 7px;
	transition: 0.3s ease;
}
.social .social-links .link:hover {
	color: #6eb48c;
}
