main {
	height: 100vh;
	position: relative;
}

main .aside {
	position: relative;
	background: #99a799;
	width: 250px;
}
@media (max-width: 576px) {
	main .aside {
		background: #99a799;
		width: 100%;
		height: 100%;
	}
}
