main {
	position: relative;
	background: #e1e5ea;
	padding: 25px 0;
}
main .blogs {
	border-left: 1px solid gray;
}

main .aside {
	position: relative;
	width: 250px;
}
@media (max-width: 576px) {
	main .aside {
		width: 100%;
		height: 100%;
	}
}
